/* Google font import link */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,700;1,900&display=swap');

/* General styling to remove browser defaults */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body {
    font-family: 'roboto', sans-serif; 
}


/* Navbar styling*/
nav {
    background: #000;
    height: 60px;
    width: 100%;
    text-transform: uppercase;
}

label.home {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}


nav ul {
    float: right;
    margin-right: 80px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 20px;
}

.active {
    border-bottom: 1px solid #ffffff;
}

.nav-toggle-label {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
}

#nav-toggle {
    display: none;
}
